@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/figure") {
  /**
   * Figure
   */

  #{$parent-selector} figure {
    display: block;
    margin: 0;
    padding: 0;

    figcaption {
      padding-inline: 0;
      padding-block: calc(var(#{$css-var-prefix}spacing) * 0.5);
      color: var(#{$css-var-prefix}muted-color);
    }
  }
}
